@media (max-width:1054px){
    .box-options{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .box-options-row{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .box-option-unit{
        border-radius: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.45);
        background: linear-gradient(141deg, rgba(255, 255, 255, 0.20) 5.75%, rgba(255, 255, 255, 0.08) 92.98%);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(10px);
        cursor: pointer;
        transition: all 0.5s ease;
        width: 200px;
        height: 200px;
    }
    .box-option-unit:hover{
        backdrop-filter: blur(0px);
        box-shadow: none;
        background:transparent;
    }
    .box-option-unit div{
       font-weight: 500;
       font-size: 14px;
    }
    .box-option-unit span{
        font-size: 13px;
        text-align: center;
        display: none;
     }
    .box-option-unit img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-radius: 15px;
    }
}
@media (max-width:910px){
    .box-options{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .box-options-row{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .box-option-unit{
        border-radius: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.45);
        background: linear-gradient(141deg, rgba(255, 255, 255, 0.20) 5.75%, rgba(255, 255, 255, 0.08) 92.98%);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(10px);
        cursor: pointer;
        transition: all 0.5s ease;
        width: 150px;
        height: 150px;
    }
    .box-option-unit:hover{
        backdrop-filter: blur(0px);
        box-shadow: none;
        background:transparent;
    }
    .box-option-unit div{
       font-weight: 500;
       font-size: 14px;
    }
    .box-option-unit img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border-radius: 15px;
    }
}
@media (max-width:910px){
    .box-options{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .box-options-row{
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0px 10px;
    }
    .box-option-unit{
        border-radius: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.45);
        background: linear-gradient(141deg, rgba(255, 255, 255, 0.20) 5.75%, rgba(255, 255, 255, 0.08) 92.98%);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(10px);
        cursor: pointer;
        transition: all 0.5s ease;
        width: 110px;
        height: 110px;
    }
    .box-option-unit:hover{
        backdrop-filter: blur(0px);
        box-shadow: none;
        background:transparent;
    }
    .box-option-unit div{
       font-weight: 500;
       font-size: 12px;
       display: none;
    }
    .box-option-unit img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border-radius: 15px;
    }
}
@media (max-width:730px){
    .sidebar{
        background-color: black;
        transform: translateX(-250px);
    }
    .box{
        left: 0;
        border-radius:0;
    }
    .bm{
        display: flex;
    }
    .box-center{
        width: 90%;
    }
    .sidebar-close-arrow{
        display: flex;
    }
    .box-input button{
        min-width: 50px;
        max-width: 50px;
        border: none;
        border-radius: 37px;
        background: #D9D9D9;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box-input button img{
        width: 24px;
        height: 24px;
        object-fit: contain;
        object-position: center center;
    }
}