
@media (max-width:600px){
    .sidebar{
        background-color: black;
        transform: translateX(-250px);
    }
    .box{
        left: 0;
        border-radius:0;
    }
    .bm{
        display: flex;
    }
    .box-center{
        width: 80%;
    }
    .sidebar-close-arrow{
        display: flex;
    }
    .box-input button{
        min-width: 50px;
        max-width: 50px;
        border: none;
        border-radius: 37px;
        background: #D9D9D9;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box-input button img{
        width: 24px;
        height: 24px;
        object-fit: contain;
        object-position: center center;
    }
}